/* For small screens (phones in portrait)  */
@media only screen and (max-width: 500px) {
    .col-sm-00  {display: none; } 
    .col-sm-12 	{width: 100%; }
    .menu p { display: inline; }
}

/* For medium screens (e.g. landscape phones and portrait tablets) */
@media only screen and (min-width: 501px) {
    .col-md-00  {display: none; }
    .col-md-01  {width: 8.33%; }
    .col-md-02  {width: 16.66%; }
    .col-md-03  {width: 25.00%; }
    .col-md-04  {width: 33.33%; }
    .col-md-05  {width: 41.66%; }
    .col-md-06  {width: 50.00%; }
    .col-md-07  {width: 58.33%; }
    .col-md-08  {width: 66.66%; }
    .col-md-09  {width: 75.00%; }
    .col-md-10  {width: 83.33%; }
    .col-md-11  {width: 91.66%; }
    .col-md-12  {width: 100.00%; }
}

/* For large screens or landscape tablets*/		
@media only screen and (min-width: 1024px) {
    .col-sm-00  {display: initial; }
    .col-md-00  {display: initial; }
    .col-lg-01  {width: 8.33%; }
    .col-lg-02  {width: 16.66%; }
    .col-lg-03  {width: 25.00%; }
    .col-lg-04  {width: 33.33%; }
    .col-lg-05  {width: 41.66%; }
    .col-lg-06  {width: 50.00%; }
    .col-lg-07  {width: 58.33%; }
    .col-lg-08  {width: 66.66%; }
    .col-lg-09  {width: 75.00%; }
    .col-lg-10  {width: 83.33%; }
    .col-lg-11  {width: 91.66%; }
    .col-lg-12  {width: 100.00%; }
}

[class*="col-"] {
    float: left;
    padding: 2%;
	border: 2%;
}

.row {
    display: flex;
}

.row::after {
    content: 	"";
    clear: 		both;
    display: 	block;
}

.white {
    background-color: white;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: linear-gradient(135deg, #B9E1DC, #D7B9E4);

    height: 100vh;

    padding: 2%;
}

/* CSS for dashboard. */
    .head {
        padding-bottom: 0;
    }

    /* CSS for all menu items. */
    .menu_container, .menu {
        text-align: right;
    }

    .menu-icon {
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Creates blank space to fill the page.. */
    .fill {
        padding-top: 0;
        padding-bottom: 0;
        flex: 1;
    }
