/* For small screens (phones in portrait) */
@media only screen and (max-width: 500px) {
    /* Adjustments for small screens */
}

/* For medium screens (e.g. landscape phones and portrait tablets) */
@media only screen and (min-width: 501px) {
    /* Adjustments for medium screens */
}

/* For large screens or landscape tablets */
@media only screen and (min-width: 1024px) {
    /* Adjustments for large screens */
}

/* Common styles for columns and rows */
[class*="col-"] {
    float: left;
    padding: 2%;
    border: 2%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.white {
    background-color: white;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: linear-gradient(135deg, #B9E1DC, #D7B9E4);
    height: 100vh;
    padding: 2%;
}

/* Container styles */
.content {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1, .content h2 {
    word-wrap: break-word;
    width: 100%;
    max-width: 80vw;
    padding: 0.5%;
    margin: 0.5%;
}

.content p {
    max-width: 80vw;
}

.login_container {
    padding: 0.5%;
    margin: 0.5%;
}

.login_container input {
    width: 100%;
    max-width: 80vw;
}

.button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    margin: 0.5%;
}

.button_container button {
    text-align: center;
    width: 100%;
    max-width: 80vw;
    padding: 0.5%;
    margin: 0.5%;
}

.button_container hr {
    border: none;
    border-radius: 5px;
    background-color: black;
    height: 1px;
    width: 100%;
    margin: 2%;
}

.button_container p {
    text-align: center;
    margin-bottom: 2%;
}

.selector_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    margin: 0.5%;
}

.selector_container select {
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    max-width: 80vw;
    margin: 0.5vh;
    border: 0.1vh solid black;
}

.selector_container select option {
    font-size: 2vh;
}

.selector_container select:focus {
    outline: none;
}

/* Additional styles specific to ManageUsers.html */
/* Add your specific styles for the Manage Users page here */
