/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    display: block;
    width: calc(100% - 20px); /* Adjusted width to match email and password textboxes */
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Added CSS for Cancel Button */
button#cancelCreateAccountBtn {
    background-color: #dc3545; /* Red color */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}