* {
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: linear-gradient(135deg, #B9E1DC, #D7B9E4);
    padding: 2%;
}

/* For small screens (phones in portrait)  */
@media only screen and (max-width: 500px) {
    .col-sm-00  {display: 		   none; } 
    .col-sm-12 	{width: 		   100%; }
    .menu p { display: inline; }
}

/* For medium screens (e.g. landscape phones and portrait tablets) */
@media only screen and (min-width: 501px) {
    .col-md-00  {display: 		   none; } /* note */
    .col-md-01  {width: 		  8.33%; }
    .col-md-02  {width: 		 16.66%; }
    .col-md-03  {width: 		 25.00%; }
    .col-md-04  {width: 		 33.33%; }
    .col-md-05  {width: 		 41.66%; }
    .col-md-06  {width: 		 50.00%; }
    .col-md-07  {width: 		 58.33%; }
    .col-md-08  {width: 		 66.66%; }
    .col-md-09  {width: 		 75.00%; }
    .col-md-10  {width: 		 83.33%; }
    .col-md-11  {width: 		 91.66%; }
    .col-md-12  {width: 		100.00%; }
}

/* For large screens or landscape tablets*/		
@media only screen and (min-width: 1024px) {
    .col-sm-00  {display: 		initial; }
    .col-md-00  {display: 		initial; }
    .col-lg-01  {width: 		  8.33%; }
    .col-lg-02  {width: 		 16.66%; }
    .col-lg-03  {width: 		 25.00%; }
    .col-lg-04  {width: 		 33.33%; }
    .col-lg-05  {width: 		 41.66%; }
    .col-lg-06  {width: 		 50.00%; }
    .col-lg-07  {width: 		 58.33%; }
    .col-lg-08  {width: 		 66.66%; }
    .col-lg-09  {width: 		 75.00%; }
    .col-lg-10  {width: 		 83.33%; }
    .col-lg-11  {width: 		 91.66%; }
    .col-lg-12  {width: 		100.00%; }
}

[class*="col-"] {
    float:              left;
    border-radius:      2px;
    padding:            2%;
}

.row::after {
    content:            "";
    clear:              both;
    display:            block;
}

/* CSS for the login page. */
    /* Container for the entire window. */
    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        min-height: 100vh;
    }

    /* Container for the login information. */
    .login {
        box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1), 5px 0px 10px rgba(0, 0, 0, 0.1);

        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .login h1 {
        padding: 20px;
        margin: 5px;
        text-align: center;
    }

    .login p, input, button {
        margin: 5px;
        display: block;
    }

    .login input {
    height: 30px;
    width: 210px;
    border: 1px solid black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Container for the buttons. */
    .button_container {
        display: flex;
        justify-content: center;
    }

    .button_container button{
        height: 40px;
        width: 100%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Container for the selectors in the create account page. */
    .selector_container {
        display: flex;
        justify-content: center;
    }

    .selector_container select {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

/* CSS for the home page. */
    .white {
        background-color: white;
    }